@import url('https://fonts.googleapis.com/css?family=Oswald');
.ninja400{
color: rgb(0, 0, 0);
font-size: 50px;
}
.drop{
color:white;
display:inline-block;
padding-top: 50px;
padding-bottom: 0px ;

}
.ninja400de{
color: rgb(0, 0, 0);
font-size: 20px;
margin-left: 20%;
  }
  .ninja400por{
    color: rgb(0, 0, 0);
    font-size: 50px;
    margin-left: 23%;
    }
.banner{
  margin-top:-1.5%;
  background-color: black;
  color: white;
}
.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #4CAF50;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}
.banner1{

  width: 100%;
  height: 200px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.botão400{
  margin-bottom: 20%;
}
.ninja400background{
  background-image: linear-gradient(rgb(14, 13, 13),rgb(18, 231, 64));
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Oswald', sans-serif;
}